@model Post
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Edit post</h5>
        <form asp-page="Edit" method="post">
            <div class="form-group">
                <textarea class="form-control card-text" id="post" rows="3" asp-for="Content" placeholder="Whats on your mind..."></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Edit</button>
        </form>
    </div>
</div>

