@model Post

<style>
    .truncate-text {
        max-height: 500px;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 50;
        overflow: hidden;
        white-space: pre-line;
    }

</style>

<div class="card mt-2">
    <div class="card-body">
        <h5 class="card-title">
            <a href="#">@Model.User.FullName</a>
        </h5>
        <p class="card-subtitle text-muted">@Model.UpdatedOn</p>

        <div class="truncate-text">
            @Model.Content
        </div>
    </div>
</div>
